modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "1057012782177-dv2pn01a3ei1n41ekcuu6icomaerk8h7.apps.googleusercontent.com"
EXPO_PUBLIC_REPL_ID = "a02124c3-a055-41e9-a2fd-c26d8f5138db"
EXPO_PUBLIC_DOMAIN = "a02124c3-a055-41e9-a2fd-c26d8f5138db-00-3mg7ylzxh061b.kirk.replit.dev"
